.Page_name_press .Page-AboutParty {
  max-width: 41rem;
}

.Page_name_press .Page-Content {
  margin-bottom: 3.5rem;
  margin-top: 1.75rem;
}

.Page_name_press .Page-Dyad {
  display: flex;
  flex-direction: column;
}

.Page_name_press .Page-Head {
  margin-bottom: -0.5rem;
}

.Page_name_press .Page-Par {
  margin: 1.125rem 0;
}

.Page_name_press .Page-Sub {
  margin-bottom: 1.125rem;
  margin-top: 2.25rem;
}

@media screen and (min-width: 29.625rem) {
  .Page_name_press .Page-Contacts {
    margin-bottom: -1.75rem;
  }
}

@media screen and (min-width: 47.75rem) {
  .Page_name_press .Page-Content {
    margin-bottom: 8.125rem;
  }
}

@media screen and (min-width: 53.75rem) {
  .Page_name_press .Page-Content {
    margin-top: 6.25rem;
  }
}

@media screen and (min-width: 63.625rem) {
  .Page_name_press .Page-Dyad {
     flex-direction: row;
   }

  .Page_name_press .Page-Other {
    margin-left: 7.75rem;
  }
}
