<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <h1 class="title"><%= t('.set_new_password') %></h1>
    <%= render 'form', user: @user, token: @token %>
  </div>
</div>
