<h1 class="title"><%= t('.oops') %></h1>
<h2 class="subtitle"><%= t('.something_is_wrong') %></h2>

<% if @token %>
  <p>
    <%= t('.expired') %>
    <%= link_to t('.get_fresh_one'), new_admin_password_reset_path %>
  </p>
<% else %>
  <p><%= t('.no_token') %></p>
<% end %>
