.Contact {
  display: flex;
  font-family: Roboto, sans-serif;
}

@media screen and (min-width: 600px) {
  .Contact {
    flex-direction: column;
    max-width: 192px;
  }

  .Contact:hover .Contact-Link {
    color: #5377a0;
  }

  .Contact:hover .Contact-Link:hover {
    color: #144d8d;
  }
}
