<% matomo_base_uri = URI::HTTPS.build(host: ENV.fetch('MATOMO_HOST')) %>

<script type="text/javascript">
  var _paq = _paq || [];
  var matomo = "<%= matomo_base_uri %>";

  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var matomoScript = document.createElement("script");
    var firstScript = document.getElementsByTagName("script")[0];

    _paq.push(["setTrackerUrl", matomo + "/matomo.php"]);
    _paq.push(["setSiteId", "1"]);

    matomoScript.type = "text/javascript";
    matomoScript.async = true;
    matomoScript.defer = true;
    matomoScript.src = matomo + "/matomo.js";
    firstScript.parentNode.insertBefore(matomoScript, firstScript);
  })();
</script>
<noscript>
  <img src="<%= matomo_base_uri %>/matomo.php?idsite=1&rec=1"
       style="border:0;"
       alt="">
</noscript>
