.pager {
  margin: 2rem 0;
  position: relative;
}

.pager-current {
  text-align: center;
}

.pager-next,
.pager-previous {
  @extend .unwrappable-layout;

  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;

  li + li {
    margin-left: 1.5625rem;
  }
}

.pager-next {
  right: 0;
  top: 0;
}
