<%= content_for(:og_type, 'article') %>
<%= content_for(:og_image, image_url('og-image-libertarianism.jpg', host: ENV.fetch('DOMAIN_NAME'))) %>
<%= content_for(:og_title, 'Либертарианство') %>
<%= content_for(:og_description, 'Что такое НАП и самопринадлежность? Почему налоги — это грабёж, а рыночек порешает?') %>
<%= react_component('Page', {name: 'libertarianism'}, prerender: true) %>
