<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white"><%= t('.invites') %></h1>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to t('.generate'), new_admin_invite_path, class: 'button' %>
        </div>
      </div>
    </div>
  </section>

  <section class="list">
   <div class="list-header">
      <div class="columns is-mobile">
        <div class="column is-two-thirds">
          <span><%= Invite.human_attribute_name(:id) %></span>
        </div>
        <div class="column is-one-third">
          <span><%= Invite.human_attribute_name(:created_at) %></span>
        </div>
      </div>
    </div>

    <div class="list-items">
      <% @invites.each do |invite| %>
        <%= link_to admin_invite_path(invite), class: 'list-item' do %>
          <div class="columns is-mobile">
            <div class="column is-two-thirds">
              <span><%= invite.id %></span>
            </div>
            <div class="column is-one-third">
              <span><%= l(invite.created_at, format: :long) %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <%= paginate @invites, views_prefix: 'admin' %>
</div>
