<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white">
          <%= Invite.model_name.human %>
        </h1>
      </div>
      <div class="level-right">
        <%= link_to t('delete'),
              admin_invite_path(@invite),
              class: 'button is-danger',
              method: :delete,
              data: {confirm: t('are_you_sure')} %>
      </div>
    </div>
  </section>

  <div class="box">
    <% if @invite.used? %>
      <div class="columns">
        <div class="column is-one-quarter has-text-weight-bold">
          <%= User.model_name.human %>
        </div>
        <div class="column">
          <%= link_to @invite.user.name, edit_admin_user_path(@invite.user) %>
        </div>
      </div>
    <% else %>
      <div class="columns">
        <div class="column is-one-quarter has-text-weight-bold">
          <%= t('.registration_link') %>
        </div>
        <div class="column">
          <%= link_to nil, new_admin_user_url(invite: @invite.id) %>
        </div>
      </div>
    <% end %>

    <div class="columns">
      <div class="column is-one-quarter has-text-weight-bold">
        <%= Invite.human_attribute_name(:comment) %>
      </div>
      <div class="column">
        <%= @invite.comment %>
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter has-text-weight-bold">
        <%= Invite.human_attribute_name(:created_at) %>
      </div>
      <div class="column">
        <%= l(@invite.created_at, format: :long) %>
      </div>
    </div>
  </div>
</div>
