.Footer-Main {
  max-width: 21.25rem;
}

@media screen and (min-width: 26.25rem) {
  .Footer-Main {
    margin-bottom: 2.1875rem;
    max-width: 43.75rem;
  }
}

@media screen and (min-width: 47.75rem) {
  .Footer-Main {
    flex: 1;
    margin-right: 3rem;
  }
}
