.Header_theme_negative {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.Header_theme_negative .Header-Link {
  color: rgba(255, 255, 255, 0.6);
}

.Header_theme_negative .Header-Link:hover {
  color: #fff;
}

.Header_theme_negative .Header-Link_active {
  color: rgba(255, 255, 255, 0.9);
}
