<%= content_for(:og_type, 'article') %>
<%= content_for(:og_image, rails_blob_url(@post.thumbnail.file)) %>
<%= content_for(:og_title, @post.title) %>
<%= content_for(:og_description, @post.annotation) %>

<%= react_component('Page', {name: 'post', post: @post}, prerender: true) %>
