.Page_name_platform .Page-Content {
  margin-bottom: 3.5rem;
  margin-top: 1.75rem;
}

.Page_name_platform .Page-Par {
  margin: 1.125rem 0;
}

.Page_name_platform .Page-Sub {
  margin-top: 2.25rem;
}

.Page_name_platform .Page-SubSub {
  margin-top: 1.75rem;
}

@media screen and (min-width: 47.75rem) {
  .Page_name_platform .Page-Content {
    margin-bottom: 6.25rem;
  }
}

@media screen and (min-width: 53.75rem) {
  .Page_name_platform .Page-Content {
    margin-top: 6.25rem;
  }
}
