.OList-Item {
  align-items: baseline;
  counter-increment: item;
  display: flex;
  margin-bottom: 0.75rem;
}

.OList-Item::before {
  color: #222;
  content: counter(item) ".";
  margin-left: -1.5625rem;
  padding-right: 0.625rem;
}

.OList-Item:last-child {
  margin-bottom: 0;
}
