<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title><%= t('.libertarian_party') %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="summary_large_image" name="twitter:card">
    <meta content="ru_RU" property="og:locale">
    <%= tag.meta content: t('.libertarian_party'), property: 'og:site_name' %>
    <%= tag.meta content: current_url, property: 'og:url' %>
    <%= tag.meta content: content_for(:og_image) || image_url('og-image-default.jpg', host: ENV.fetch('DOMAIN_NAME')), property: 'og:image' %>
    <%= tag.meta content: content_for(:og_title) || t('.libertarian_party'), property: 'og:title' %>
    <%= tag.meta content: content_for(:og_type) || 'website', property: 'og:type' %>
    <%= tag.meta content: content_for(:og_description) || 'Либертарианская партия России', property: 'og:description' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:300,300i,400,400i,500,500i,700&subset=cyrillic' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="Body">
    <%= render 'shared/analytics' if Rails.env.production? %>

    <%= yield %>
  </body>
</html>
